<strong>Bem-vindo, {{student}}</strong>
<p>Sua matrícula foi feita com sucesso. Abaixo há informações referentes a matrícula:</p>

<strong>Aluno: </strong> {{student}} <br/>
<strong>Data de matrícula: </strong> {{enrollment_date}} <br/>
<strong>Data de início: </strong> {{start_date}} <br/>

<strong>Plano: </strong> {{plan}} <br/>
<strong>Cobertura do plano: </strong> {{duration}} (meses) <br/>

<strong>Preço mensal: </strong> {{price_month}} <br/>
<strong>Preço total: </strong> {{tot_price}} <br/>

<strong>Data de fechamento do plano: </strong> {{end_date}} <br/>

<br>
<small>
  Obrigado pela preferência!
</small>
<br>
